.dataSanPham {
  margin-left: 50px;
  max-width: 300px;
  max-height: fit-content;
  margin-top: 50px;
}

.product-list h1 {
  text-align: center;
}

.data_List {
  background-color: white;
}
.button_Short {
  color: orangered;
  background-color: transparent;
  border: 1px solid orange;

  margin-left: 50px;
}
