.gap-4 {
  display: flex;
}
.dataSanPham {
  margin-left: 50px;
  max-width: 300px;
  max-height: fit-content;
  margin-top: 50px;
}

.product-list h1 {
  text-align: center;
}
.product-list {
  text-align: center;
}
.data_List {
  background-color: white;
}
