.navbar-container {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: flex-start;
  background-color: orangered !important;
  align-items: center;
  color: black;
}
.navbar-login {
  color: white;
}
.navbar-logout {
  margin-left: 20px;
  color: white;
}
#site-search {
  width: 500px;
  position: absolute;
  right: 30%;
}
.navbar-container > * {
  margin: 0 1.25rem;
  text-decoration: none;
  font-weight: 600;
}
.right_MainPage {
  flex: 1;
  justify-content: end;
  align-items: end;
  position: relative;
  float: right;
  display: flex;
}
.img_Header {
  width: 150px;
  float: left;
}

.navbar-home {
  color: rgb(163, 162, 162);
}
.love-item {
  display: flex;
  height: 150px;
}
.love_List {
  margin-top: 12px;
  display: flex;
  position: relative;

  justify-content: center;
}
.love_List h1 {
  font-size: 15px;
  width: max-content;
}
.navbar-register {
  color: rgb(255, 255, 255);
  margin-left: 15px;
  border-radius: 6px;
}

.btn-secondary {
  width: 120px;
}
.navbar-container {
  display: flex;

  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.cart-container {
  position: relative;
  cursor: pointer;
  display: flex;
}
.cart-containerTwo {
  display: flex;
}
.cart-container .quantity_Cart {
  position: relative;
}
.cart_Name {
  margin-top: 3px;
}
.cart_Name span {
  position: absolute;
  bottom: 20px;
}
.cart-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -5px;
  right: -10px;
}
.cart-item-info {
  display: flex;
  position: relative;
  align-items: center;
}
.cart-item-info p {
  position: relative;
  left: 60px;
}
.cart-item-info h5 {
  width: 90px !important;
  height: auto;
  font-size: 13px;
  width: fit-content;
}
.cart-item {
  margin-top: 20px;
  display: flex;
  width: 360px;
  border-bottom: 0.5px solid black;
}
.cart-item img {
  width: 100px;
  height: 100px;
}
.cart-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.footer_Cart {
  display: inline-block;
}
.cart-dropdown {
  z-index: 100;
  width: fit-content;
  position: absolute;
  top: 20px;

  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0);
}

.love-dropdown {
  z-index: 100;
  width: 400px;
  position: absolute;
  top: 40px;
  right: 200px;
  background-color: gray;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0);
}
.love-item {
  border-bottom: 1px solid black;
  margin-top: 15px;
}
.cart-item-quantity {
  margin-left: 30px;
}
.cart-item-quantity span {
  position: absolute;
}
.decreaseButton {
  margin-right: 10px;
}
.delete_LoveList {
  position: relative;
  left: 40%;
  top: 10%;
  border: 1px solid orangered;
  color: white;
  font-weight: bolder;
  font-size: small;
}
.love-item-info p {
  margin-bottom: 0px;
  text-align: center;
}
.love-item-info h5 {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.love-item-info {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.contactAdmin {
  color: white;
  margin-top: 10px;
}
.increaseButton {
  margin-left: 10px;
}
.cart-footer {
  text-align: center; /* Canh nút về bên phải */
  margin-top: 20px;
  padding-bottom: 10px;
}
.contactAdmin {
  margin-left: 10px;
}
.checkout-button {
  color: black;
  padding: 10px 10px;
  background-color: #fbebed; /* Màu xanh lá cây */

  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.info_UserLogin {
  display: flex;
}
.userInforNav {
  display: flex;
  float: right;
  position: relative;
  justify-items: end;
}
.checkout-button:hover {
  background-color: orangered; /* Màu xanh đậm hơn khi hover */
  transform: translateY(-2px); /* Đẩy nút lên một chút */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm đổ bóng */
}
.user_Information {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-button:active {
  transform: translateY(0); /* Trở lại vị trí khi nhấn */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Giảm đổ bóng */
}
.navbar-user {
  margin: 0px;
  color: white;
}
