.navbar-container {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: flex-end;
  background-color: orangered !important;
  align-items: center;
}
.navbar-login {
  color: white;
}
.navbar-container {
  display: flex;
  color: black;
}

.navbar-logout {
  color: white;
}
#site-search {
  width: 500px;
  position: absolute;
  right: 30%;
}
.navbar-container > * {
  margin: 0 1.25rem;
  text-decoration: none;
  font-weight: 600;
}
.img_Header {
  width: 150px;
  margin-right: 1100px;
}
.navbar-home {
  color: rgb(163, 162, 162);
}

.navbar-register {
  color: rgb(255, 255, 255);

  padding: 0.35rem;
  border-radius: 6px;
}

.btn-secondary {
  width: 120px;
}
.navbar-container {
  display: flex;

  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -5px;
  right: -10px;
}

.cart-dropdown {
  z-index: 100;
  width: 150px;
  position: absolute;
  top: 40px;
  left: -10px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0);
}
.cart-item-quantity {
  margin-left: 30px;
}
.decreaseButton {
  margin-right: 10px;
}
.increaseButton {
  margin-left: 10px;
}
.cart-footer button {
  margin-top: 15px;
  margin-left: 20px;
}
