@tailwind base;
@tailwind components;
@tailwind utilities;
.total_Column {
  width: auto;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột */
  gap: 10px; /* Khoảng cách giữa các ảnh */
}

.footer_Item {
  display: block;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-container img {
  width: 100%; /* Ảnh chiếm toàn bộ chiều rộng của cột */
  height: auto; /* Đảm bảo giữ đúng tỷ lệ khung hình */
}
.container_Footer {
  width: auto;
  display: grid;
  grid-template-columns: repeat(5fr, 1);
  grid-template-rows: repeat(3fr, 1);
}
.footer_Container {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột */
  grid-template-rows: repeat(3, auto); /* 3 dòng tự động với chiều cao */
  gap: 10px; /* Khoảng cách giữa các phần tử */
  justify-items: center; /* Căn giữa phần tử */
}
.grid-container img {
  max-width: 100%; /* Ảnh responsive */
  height: auto;
  border-radius: 5px; /* Bo góc cho ảnh */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}
.total_Column .text-lg {
  font-size: medium;
  text-align: center;
}

.total_Column div ul {
  margin-left: 35px;
}
.imageFooter {
  margin: 0;
  padding: 0;
}
